.container {
  background-color: rgb(228, 222, 222);
  border-color: dimgrey;
  border-style: solid;
  border-radius: 0.5em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rowHeader {
  font-weight: bolder;
  font-size: 1.3em;
  background-color: dimgrey;
  color: rgb(228, 222, 222);
}

.rowContent {
  font-weight: bold;
  font-size: 1.1em;
}
